.textField {
    margin-bottom: 20px;
    label {
        padding: 5px;
        display: block;
        font-size: 16px;
    }
    .relative {
        position: relative;
    }
    input {
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        font-size: 14px;
        border: 2px solid #AFAFAF;
        outline: none;
        color: #6b6b6b;
        &:focus {
            border-color: #FF4747;
        }
        &.plain:focus { 
            border: 2px solid #AFAFAF;
        }
        
    }
    .icon {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 1em;
        top: 50%;
        transform: translateY(-50%);
    }
}

.error {
    text-align: right;
    color:#FF4747;
    font-size: 12px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: -5px;
}