.wrapper {
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100vh;
}
.container {
	width: 278px;
}
.errorMessage {
	text-align: center;
	color: red;
	font-size: 14px;
	line-height: 20px;
}

.slideItem {
	text-align: center;
}
.or {
	display: flex;
	align-items: center;
	flex-flow: column;
	gap: 5px;
	a {
		color: #FF4747;
		font-weight: 500;
	}
}