.wrapper {
    width: 375px;
    background-color: #fff;
    border-right: 1px solid #efefef;
}
.wrapperHeader {
    border-bottom: 1px solid #efefef;
    height: 80px;
    padding: 0 1em;
    display: flex;
    align-items: center;
}
.header {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
    .icon {
        width: 20px;
        height: 20px;
    }
    .search {
        flex: 1;
        position: relative;
        height: 36px;
        input {
            background-color: #F0F0F0;
            border: none;
            padding: 10px;
            padding-left: 40px;
            outline: none;
            border-radius: 20px;
            width: 100%;
        }
        .iconSearch {
            @extend .icon;
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    button {
        background-color: transparent;
        border: none;
        outline: none;
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .iconAddUser, .iconAddGroup {
            @extend .icon;
        }
        &:hover {
            background-color: #efefef;
            border-radius: 50%;
        }
    }
}
.listGroup {
    height: calc(100vh - 64px - 50px - 2em - 1px - 10px);
    margin: 5px;
    overflow-y: auto;
    .group {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 1em;
        border-radius: 5px;
        &:last-child {
            margin-bottom: 0;
        }
        cursor: pointer;
    }
    .infoGroup {
        flex: 1;
        .title {
            font-size: 16px;
            display: -webkit-box;
            line-height: 1;
            word-break: break-all;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .message {
            color: #8C8C8C;
            margin-top: 0.5em;
            display: -webkit-box;
            line-height: 1;
            word-break: break-all;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .moreInfo {
        width: 30px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-end;
        .time {
            font-size: 13px;
            color: #8C8C8C;
        }
        button {
            background: none;
            border: none;
            outline: none;
            text-align: right;
            visibility: hidden;
            cursor: pointer;
        }
    }
    .group:hover {
        background-color: #efefef;
        .moreInfo button {
            visibility: inherit;
        }
    }
}