.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav {
    height: 64px;
    background-color: #00AC4F;
    color: #fff;
    display: flex;
    align-items: center;
    button {
        @extend .flexCenter;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        background: none;
        cursor: pointer;
        &:hover {
            background-color: #038b42;
        }
    }
    .navBar {
        width: 80px;
        @extend .flexCenter;

    }
    .logo {
        flex: 1;
    }
    .multiFeature {
        width: 200px;
        display: flex;
    }
}