.btn {
    padding: 0.5em 1em;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
    position: relative;
    transition: .3s ease;
    border: none;
    outline: none;
    cursor: pointer;

    .loading {
        display: block;
        height: 20px;
        animation: loading 1s linear infinite;
    }

    .content {
        font-size: 14px;
        text-align: center;
    }

    .icon {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
    }
}

.btn-guest {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.2);
    .content {
        font-size: 16px;
    }

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.3);
    }
}

.default {
    @extend .btn;
    background-color: rgb(239, 239, 239);

    &:hover {
        background-color: rgb(220, 220, 220);
    }
}

.default-guest {
    @extend .btn, .btn-guest;
    background-color: #fff;
}

.link {
    @extend .btn;
    background-color: transparent;
    box-shadow: none;
    color: rgb(84, 39, 247);

    &:hover {
        text-decoration: underline;
    }
}

.primary {
    @extend .btn;
    color: #fff;
    background-color: #00b132;

    &:hover {
        background-color: #009a2c;
    }
}

.outline-primary {
    @extend .btn;
    color: #00b132;
    border: 1px solid #00b132;
    &:hover {
        color: #fff;
        background-color: #009a2c;
    }
}

.login-google {
    @extend .btn, .btn-guest;
    background-color: #FD0000;
    color: #fff;
}

.login-facebook {
    @extend .btn, .btn-guest;
    background-color: #1876F2;
    color: #fff;
}

.login-github {
    @extend .btn, .btn-guest;
    background-color: #000;
    color: #fff;
}

.submit-login,
.submit-signup {
    @extend .btn, .btn-guest;
    background-color: #257E3E;
    color: #fff;
}

.btnLoading {
    @extend .btn;
    background-color: #F6F5F5;
    cursor: unset;
}

@keyframes loading {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}