.group {
  flex: 1;
  background-color: #efefef;
  height: calc(100vh - 64px);
  display: flex;
  flex-flow: column;

}
.nav {
  min-height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 1em;
  border-bottom: 1px solid #e7e1e1;
}   

.navLeft {
  display: flex;
  gap: 1em;
  flex: 1;
  .title {
      font-size: 18px;
      font-weight: 500;
      line-height: 1;
      padding: 5px 0;
      word-break: break-all;
  }
  .onlineStatus {
      color: #666666;
      display: flex;
      align-items: center;
      gap: 0.5em;
  }
  
}
.navRight {
  width: 80px;
  display: flex;
  justify-content: center;
  button {
      background: none;
      border: none;
      outline: none;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:hover, &.active {
          background-color: #d5d5d5;
      }
  }
}

.group {
  flex: 1;
  background-color: #d5d5d5;
  height: calc(100vh - 64px);
  display: flex;
  flex-flow: column;

}
.settings {
  width: 300px;
  height: calc(100vh - 64px);
  background-color: #fff;
  border-left: 1px solid #e7e1e1;
  padding: 5px;
  display: block;
  &.active {
    display: none;
  }
}

@media (max-width: 1300px) {
  .settings {
    position: fixed;
    right: -100%;
    &.active {
      display: block;
      right: 0;
    }
  }
}